<div class="container-fluid">
  <header class="blog-header py-3 px-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Subscribe</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Large</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="mx-3"
            role="img"
            viewBox="0 0 24 24"
            focusable="false"
          >
            <title>Search</title>
            <circle cx="10.5" cy="10.5" r="7.5" />
            <path d="M21 21l-5.2-5.2" />
          </svg>
        </a>
        <button
          class="btn btn-sm btn-warning mx-4"
          data-toggle="modal"
          data-target="#registerModal"
        >
          Register
        </button>
        <button
          class="btn btn-sm btn-warning"
          data-toggle="modal"
          data-target="#loginModal"
        >
          Login
        </button>
      </div>
    </div>
  </header>

  <div class="container nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">World</a>
      <a class="p-2 text-muted" href="#">U.S.</a>
      <a class="p-2 text-muted" href="#">Technology</a>
      <a class="p-2 text-muted" href="#">Design</a>
      <a class="p-2 text-muted" href="#">Culture</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Opinion</a>
      <a class="p-2 text-muted" href="#">Science</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="registerModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="registerModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalTitle">Register</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #registerForm="ngForm" ngNativeValidate id="registerForm">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="firstName" name ="firstName" ngModel/>
            </div>
            <div class="form-group col-md-6">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control"  name="lastName" ngModel/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" name ="email" ngModel/>
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password" class="form-control"  name="password" ngModel/>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone">Phone Number</label>
              <input type="phone" class="form-control"  name="phone" ngModel/>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary"  (click)="register(registerForm)">Register</button>
              </div> -->
            <div class="form-group col-md-6">
              <label for="businessOption">Account Type</label>
              <select class="form-control btn-danger" name="userRole" [(ngModel)]="userRole">
                <option value="User">Basic User</option>
                <option value="Business">Owner/Manager</option>
              </select>
            </div>

            <!-- Business User -->
            <div class="card card-body" id="businessForm" *ngIf="userRole==='Business'">
              <!-- <form id="businessForm"> -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="name">Business Name</label>
                    <input type="text" class="form-control"  name="name" ngModel/>
                  </div>
                  <div class="form-group col-md-6">
                    <label for="businessPhone">Business Phone</label>
                    <input
                      type="text"
                      class="form-control"

                      name="businessPhone"
                      ngModel
                    />
                  </div>
                </div>
                <div class="form-group">
                  <label for="imageUrl">Image URL</label>
                  <input
                    type="text"
                    class="form-control"

                    placeholder="Image Url"
                    name="imageUrl"
                    ngModel
                  />
                </div>
                <div class="form-group">
                  <label for="description"
                    >Description</label
                  >
                  <textarea
                    class="form-control"

                    rows="3"
                    name="description"
                    ngModel
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="street">Street</label>
                  <input
                    type="text"
                    class="form-control"

                    placeholder="1234 Main Street"
                    name="street"
                    ngModel
                  />
                </div>

                <div class="form-group">
                  <label for="street2">Street</label>
                  <input
                    type="text"
                    class="form-control"

                    placeholder="Apartment, studio, or floor"
                    name="street2"
                    ngModel
                  />
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" class="form-control"  name ="city" ngModel/>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="state">State</label>
                    <input type="text" class="form-control"  name ="state" ngModel/>
                  </div>
                  <div class="form-group col-md-2">
                    <label for="postalCode">Zip</label>
                    <input type="text" class="form-control"  name="postalCode" ngModel/>
                  </div>
                </div>
              </div>
                 <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                  </button>
                  <button type="button" class="btn btn-primary"  (click)="register(registerForm)">Register</button>
                  </div>

               <!-- </form> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

 <!-- Modal  -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</div>
