<div class="container-fluid">
  <header class="blog-header py-3 px-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="text-muted" href="#">Subscribe</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#">Colorado Tribe</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="text-muted" href="#" aria-label="Search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="mx-3"
            role="img"
            viewBox="0 0 24 24"
            focusable="false"
          >
            <title>Search</title>
            <circle cx="10.5" cy="10.5" r="7.5" />
            <path d="M21 21l-5.2-5.2" />
          </svg>
        </a>

        <a [routerLink]="['/register']" *ngIf="!userLogInCheck()">
          <button
            class="btn btn-sm btn-outline-dark mx-4"
            data-toggle="modal"
            data-target="#registerModal"
          >
            Register
          </button>
        </a>

        <a [routerLink]="['/login']" *ngIf="!userLogInCheck()">
          <button
            class="btn btn-sm btn-outline-dark"
            data-toggle="modal"
            data-target="#loginModal"
          >
            Login
          </button>
        </a>
        <a *ngIf="userLogInCheck()">
          <app-logout></app-logout>
        </a>
      </div>
    </div>
  </header>

  <div class="container nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 text-muted" href="#">World</a>
      <a class="p-2 text-muted" href="#">U.S.</a>
      <a class="p-2 text-muted" href="#">Technology</a>
      <a class="p-2 text-muted" href="#">Design</a>
      <a class="p-2 text-muted" href="#">Culture</a>
      <a class="p-2 text-muted" href="#">Business</a>
      <a class="p-2 text-muted" href="#">Politics</a>
      <a class="p-2 text-muted" href="#">Opinion</a>
      <a class="p-2 text-muted" href="#">Science</a>
      <a class="p-2 text-muted" href="#">Health</a>
      <a class="p-2 text-muted" href="#">Style</a>
      <a class="p-2 text-muted" href="#">Travel</a>
    </nav>
  </div>
</div>

<!-- Modal -->

<!-- Modal  -->

<!-- Modal -->
<!--
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  #loginForm="ngForm"
        ngNativeValidate
        id="login-form">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" ngModel/>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" ngModel/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary" (click)="login(loginForm)"  >Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>



</div> -->
