
<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="flip-card-img">
                <img src="assets/images/jason.jpg" alt="Avatar Placeholder" />
            </div>
            <div class="flip-card-text">
                <h2>Jason Kerwin</h2>
                <p class="title">John Rambo : Developer,Scrum Master</p>
            </div>
        </div>

    </div>
</div>

<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="flip-card-img">
                <img src="assets/images/basic.jpg" alt="Avatar Placeholder" />
            </div>
            <div class="flip-card-text">
                <h2>Devin Cooper</h2>
                <p class="title">The Wolverine : Developer,Front-End Designer </p>
            </div>
        </div>

    </div>
</div>

<div class="flip-card">
    <div class="flip-card-inner">
        <div class="flip-card-front">
            <div class="flip-card-img">
                <img src="assets/images/ankit.jpg" alt="Avatar Placeholder" />
            </div>
            <div class="flip-card-text">
                <h2>Ankit Shah</h2>
                <p class="title">The Regular One : Developer,DBA  </p>
            </div>
        </div>

    </div>
</div>

 <div class="flip-card">
    <div class="flip-card-inner">
         <div class="flip-card-front">
            <div class="flip-card-img">
                <img src="assets/images/rob.png" alt="Avatar Placeholder" />
            </div>
            <div class="flip-card-text">
                <h2>Rob Roselius</h2>
                <p class="title">The Godfather : Lead Instructor  </p>
                     </div>
        </div>

    </div>
   </div>
[]

