<div
  id="homeCarousel"
  class="carousel slide carousel-fade"
  data-ride="carousel"
>
  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item shadow active mb-4">
      <img
        class="d-block w-100"
        src="assets/images/unionstation.jpg"
        alt="First slide"
      />
      <div class="carousel-caption custom-caption1">
        <div>
          <h2 class="display-2">Top Articles Today</h2>
          <p class="lead">Presenting the Best of Local Colorado</p>
          <span class="btn btn-sm btn-warning">Learn More</span>
        </div>
      </div>
    </div>
    <div
      class="carousel-item shadow flex-column align-items-center justify-content-center mb-4"
    >
      <img
        class="d-block w-100"
        src="assets/images/culture.jpg"
        alt="Second slide"
      />
      <div class="carousel-caption custom-caption2">
        <div>
          <h2 class="display-2">Top Articles Today</h2>
          <p class="lead">Presenting the Best of Local Colorado</p>
          <span class="btn btn-sm btn-warning">Learn More</span>
        </div>
      </div>
    </div>
    <div
      class="carousel-item shadow d-flex h-100 justify-content-center align-items-center mb-4"
    >
      <img
        class="d-block w-100"
        src="assets/images/bluebird.jpg"
        alt="Third slide"
      />
      <div class="carousel-caption">
        <div>
          <h2 class="display-2">Top Articles Today</h2>
          <p class="lead">
            <strong>
              Presenting the Best of Local Colorado
            </strong>
          </p>
          <span class="btn btn-sm btn-warning">Learn More</span>
        </div>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#homeCarousel"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#homeCarousel"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Populated List of Articles -->

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col-mb-4 my-4" *ngFor="let article of artList">
      <!-- Start of new card -->
      <div class="card shadow rounded-lg h-100 mx-4 z-depth-1 wow zoomIn">
        <div class="card-body">
          <a href="#!" class="green-text">
            <h6 class="h6 pb-1">
              <i class="fas fa-desktop pr-1"></i> Articles
            </h6>
          </a>
          <h5 class="card-title">{{ article.title }}</h5>
          <h5 class="font-weight-normal">
            by
            <a
              ><strong>{{ article.business.name }}</strong></a
            >
            on {{ article.createAt | date: "MMM d, y h:mm a" }}
          </h5>
          <p
            id="dots"
            style="
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
            "
          >
            {{ article.content }}
          </p>
          <br />
          <a href="#/article-detail/{{ article.id }}" class="stretched-link">
            continue reading...
          </a>
          <!-- Modal -->
        </div>
      </div>
    </div>
  </div>
</div>
