body {
  margin: 10px;
}
.carousel-item img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.card {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.modal-dialog-full-width {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.modal-content-full-width {
  height: auto !important;
  min-height: 100% !important;
  border-radius: 0 !important;
  background-color: #ececec !important;
}

.modal-header-full-width {
  border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width {
  border-top: 1px solid #9ea2a2 !important;
}

.modal-open .fullscreen .modal-dialog {
  max-width: 95%;
}
