.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}
​ .flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
​ .h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}
​
/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}
​
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

// // Carousel Features
// .custom-caption1 {
//   width: 600px;
//   z-index: 10;
//   color: #fff;
//   text-align: center;
//   top: 50%;
//   left: 65%;
//   bottom: auto;
//   -webkit-transform: translate(0, -50%);
//   -ms-transform: translate(0, -50%);
//   transform: translate(0, -50%);
// }
// .custom-caption2 {
//   width: 600px;
//   z-index: 10;
//   color: #fff;
//   text-align: center;
//   top: 50%;
//   left: 65%;
//   bottom: auto;
//   -webkit-transform: translate(0, -50%);
//   -ms-transform: translate(0, -50%);
//   transform: translate(0, -50%);
// }
// .custom-caption3 {
//   width: 600px;
//   z-index: 10;
//   color: #fff;
//   text-align: center;
//   top: 50%;
//   left: 65%;
//   bottom: auto;
//   -webkit-transform: translate(0, -50%);
//   -ms-transform: translate(0, -50%);
//   transform: translate(0, -50%);
// }
