<div class="d-flex" id="wrapper">
  <app-left-side-bar></app-left-side-bar>
  <div id="page-content-wrapper">
    <!-- Profile header and image -->
    <div class="row justify-content-center align-self-center mt-5 mb-4">
      <div class="row no-gutters">
        <div class="col-md-12">
          <img
            src="{{ user.userImageUrl }}"
            class="card-img rounded-circle img-thumbnail profile-img"
            alt="..."
          />
        </div>
      </div>
    </div>

    <!-- Navigation Links and body -->
    <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
      <!-- Info Link tab and body -->
      <li [ngbNavItem]="1">
        <a ngbNavLink>My Info</a>
        <ng-template ngbNavContent class="mx-2">
          <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
              <h1 class="display-4">
                {{ user.firstName }} {{ user.lastName }}
              </h1>
              <p class="lead">
                {{ user.email }} <br />
                {{ user.phone }} <br />
              </p>
            </div>
          </div>
        </ng-template>
      </li>

      <!-- Articles Link and body -->
      <li [ngbNavItem]="2">
        <a ngbNavLink>My Articles</a>

        <ng-template ngbNavContent>
          <div
            class="jumbotron-fluid text-center hoverable p-4"
            *ngFor="let article of articles"
          >
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-4 offset-md-1 mx-3 my-3">
                <!-- Featured image -->
                <div class="view overlay">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg"
                    class="img-fluid"
                    alt="Sample image for first version of blog listing"
                  />
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-7 text-md-left ml-3 mt-3">
                <!-- Excerpt -->
                <a href="#!" class="green-text">
                  <h6 class="h6 pb-1">
                    <i class="fas fa-desktop pr-1"></i> Articles
                  </h6>
                </a>

                <h4 class="h4 mb-4">{{ article.title }}</h4>
                <h5 class="font-weight-normal">
                  by
                  <a
                    ><strong
                      >{{ user.firstName }} {{ user.lastName }}</strong
                    ></a
                  >, {{ article.createAt | date: "MMM d, y h:mm a" }}
                </h5>

                <p
                  id="dots"
                  style="
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  "
                >
                  {{ article.content }}
                </p>
                <a
                  href="#/article-detail/{{ article.id }}"
                  class="stretched-link"
                >
                  continue reading...
                </a>
              </div>
              <!-- Grid column -->
            </div>
            <div class="row bootstrap snippets">
              <div class="col-md-12 col-md-offset-2 col-sm-12">
                <div class="comment-wrapper">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <a
                        href=""
                        onclick="return false"
                        (click)="showComments(article.id)"
                        id="divBtn{{ article.id }}"
                      >
                        Show Comment
                      </a>
                    </div>
                    <div
                      class="panel-body"
                      id="commentDiv{{ article.id }}"
                      style="display: none;"
                    >
                      <div class="clearfix"></div>
                      <hr />
                      <ul class="media-list">
                        <li
                          class="media"
                          *ngFor="let comment of article.articleComments"
                        >
                          <a href="#" class="pull-left">
                            <img
                              src="https://bootdey.com/img/Content/user_3.jpg"
                              alt=""
                              class="rounded-circle"
                            />
                          </a>
                          {{ comment.user.firstName }}
                          <div class="media-body">
                            <span class="text-muted pull-right">
                              <small class="text-muted">{{
                                comment.createDate | date: "MMM d, y h:mm a"
                              }}</small>
                            </span>
                            <p>
                              {{ comment.content }}
                            </p>
                          </div>
                        </li>
                      </ul>
                      <a
                        href="#/article-detail/{{ article.id }}"
                        class="stretched-link"
                      >
                        write a comment
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Grid row -->
        </ng-template>
      </li>

      <!-- Reviews Link and body -->
      <li [ngbNavItem]="3">
        <a ngbNavLink>My Reviews</a>
        <ng-template ngbNavContent>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4" *ngFor="let review of reviews">
                  <div class="card h-100">
                    <div
                      class="card-body row justify-content-center align-items-center"
                    >
                      <div class="col-md-5">
                        <h5>{{ review.business.name }}</h5>
                        <p>
                          {{ review.business.address.street }}<br />
                          {{ review.business.address.city }},
                          {{ review.business.address.state }}
                          {{ review.business.address.postalCode }} <br />
                          {{ review.business.phone }}
                        </p>
                      </div>
                      <div class="col-md-7">
                        <span style="display: inline;"
                          >{{ review.createDate | date: "MMM d, y" }}<br />Rated
                          4 Stars</span
                        ><br />

                        <blockquote
                          class="card-text"
                          style="
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                          "
                        >
                          {{ review.description }}
                        </blockquote>
                        <a href="">continue reading</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <!-- Favorites Link and Body -->
      <li [ngbNavItem]="4">
        <a ngbNavLink>My Favorites</a>
        <ng-template ngbNavContent>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-5">
                          <h5 class="card-title">Sushi King</h5>
                          <div>
                            <p>
                              420 Sushi Road <br />
                              Denver, CO 80023 <br />
                              (303) 781-2922
                            </p>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <img
                            src="assets/images/bistro.png"
                            class="img-thumbnail"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Open Now</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <!-- Grid column -->

    <!-- Grid column -->
    <!-- </div> -->
    <!-- Grid row -->
    <!-- </div> -->
    <!-- News jumbotron -->
    <!-- News jumbotron -->
  </div>
  <app-right-side-bar></app-right-side-bar>
</div>
<!-- /#page-content-wrapper -->
