<div class="d-flex" id="wrapper">
  <app-left-side-bar></app-left-side-bar>
  <div id="page-content-wrapper">
    <!-- News jumbotron -->
    <div class="jumbotron text-center hoverable p-4" *ngFor="let item of businessListForOwner">
      <div class="alert alert-danger" role="alert" *ngIf="!item.active">
        This business has been deactivated. Please contact an administrator for information.
      </div>
      <!-- Grid row -->
      <!-- Grid column -->
      <div class="row">
        <div class="col-md-4 offset-md-1 mx-1 my-1">
          <!-- Featured image -->
          <div class="view overlay">
            <img
              src="{{ item.imageUrl }}"
              class="img-fluid"
              alt="Sample image for first version of blog listing"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-md-center my-auto">
          <!-- Excerpt -->
          <!-- <a href="#!" class="green-text">
            <h6 class="h6 pb-1">
              <i class="fas fa-desktop pr-1"></i> Edit Info
            </h6>
          </a> -->

          <a
            href="#!"
            class="green-text"
            (click)="showIndividualBusiness(item.id)"
            ><h4 class="h4 mb-3">{{ item.name }}</h4></a
          >
          <p>
            {{ item.address.street }} <br />
            {{ item.address.city }} {{ item.address.state }}
            {{ item.address.postalCode }}<br />
            Phone: {{ item.phone }}
          </p>
          <p class="font-weight-normal">
            <a><strong>Manager</strong></a
            ><br />
            {{ item.manager.firstName }} {{ item.manager.lastName }}
          </p>

        </div>
        <!-- Grid column -->
        <div class="col-md-3 text-md-center my-auto">
          <!-- <p>
            History <br />
            Established in 2014.
          </p>
          <p></p> -->

          <p class="font-weight-normal"></p>
        </div>
      </div>
      <!-- Grid row -->
    </div>

    <!-- Navigation Links and body -->
    <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
      <!-- Info Link tab and body -->
      <li [ngbNavItem]="1">
        <a ngbNavLink>My Info</a>
        <ng-template ngbNavContent class="mx-2">
          <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
              <h1 class="display-4">
                {{ currentUser.firstName }} {{ currentUser.lastName }}
              </h1>
              <p class="lead">
                {{ currentUser.email }}<br />
                {{ currentUser.phone }} <br />
              </p>
            </div>
          </div>
        </ng-template>
      </li>

      <!-- Articles Link and body -->
      <li [ngbNavItem]="2">
        <a ngbNavLink>My Articles</a>
        <ng-template ngbNavContent>
          <div class="jumbotron-fluid text-center hoverable p-4">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-4 offset-md-1 mx-3 my-3">
                <!-- Featured image -->
                <div class="view overlay">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg"
                    class="img-fluid"
                    alt="Sample image for first version of blog listing"
                  />
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Grid column -->

              <!-- Grid column -->
              <div class="col-md-7 text-md-left ml-3 mt-3">
                <!-- Excerpt -->
                <a href="#!" class="green-text">
                  <h6 class="h6 pb-1">
                    <i class="fas fa-desktop pr-1"></i> Articles
                  </h6>
                </a>

                <h4 class="h4 mb-4">TITLE</h4>
                <h5 class="font-weight-normal">
                  by <a><strong>Chrissy Rowland</strong></a
                  >, 19/08/2016
                </h5>

                <p
                  id="dots"
                  style="
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  "
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus imperdiet, nulla et dictum interdum, nisi lorem
                  <!-- egestas vitae scel<span id="dots">...</span
                  ><span id="more" -->
                  erisque enim ligula venenatis dolor. Maecenas nisl est,
                  ultrices nec congue eget, auctor vitae massa. Fusce luctus
                  vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
                  ullamcorper ipsum dignissim ac. In at libero sed nunc
                  venenatis imperdiet sed ornare turpis. Donec vitae dui eget
                  tellus gravida venenatis. Integer fringilla congue eros non
                  fermentum. Sed dapibus pulvinar nibh tempor porta. ultrices
                  nec congue eget, auctor vitae massa. Fusce luctus vestibulum
                  augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
                  ipsum dignissim ac. In at libero sed nunc venenatis imperdiet
                  sed ornare turpis. Donec vitae dui eget tellus gravida
                  venenatis. Integer fringilla congue eros non fermentum. Sed
                  dapibus pulvinar nibh tempor porta. ultrices nec congue eget,
                  auctor vitae massa. Fusce luctus vestibulum augue ut aliquet.
                  Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
                  In at libero sed nunc venenatis imperdiet sed ornare turpis.
                  Donec vitae dui eget tellus gravida venenatis. Integer
                  fringilla congue eros non fermentum. Sed dapibus pulvinar nibh
                  tempor porta.
                </p>
                <button (click)="myFunction()" id="myBtn">Read more</button>
              </div>
              <!-- Grid column -->
            </div>
            <div class="row bootstrap snippets">
              <div class="col-md-12 col-md-offset-2 col-sm-12">
                <div class="comment-wrapper">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <button (click)="showComments()" id="divBtn">
                        Show Comment
                      </button>
                    </div>
                    <div
                      class="panel-body"
                      id="commentDiv"
                      style="display: none;"
                    >
                      <div class="clearfix"></div>
                      <hr />
                      <ul class="media-list">
                        <li class="media">
                          <a href="#" class="pull-left">
                            <img
                              src="https://bootdey.com/img/Content/user_1.jpg"
                              alt=""
                              class="rounded-circle"
                            />
                          </a>
                          <div class="media-body">
                            <span class="text-muted pull-right">
                              <small class="text-muted"
                                >4-20-2020 11:15am</small
                              >
                            </span>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. Lorem ipsum dolor sit amet,
                              <a href="#">#consecteturadipiscing </a>.
                            </p>
                          </div>
                        </li>
                        <li class="media">
                          <a href="#" class="pull-left">
                            <img
                              src="assets/images/chrissy.jpg"
                              alt=""
                              class="rounded-circle"
                            />
                          </a>
                          <div class="media-body">
                            <span class="text-muted pull-right">
                              <small class="text-muted"
                                >4-20-2020 11:30am</small
                              >
                            </span>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. Lorem ipsum dolor
                              <a href="#">#ipsumdolor </a>adipiscing elit.
                            </p>
                          </div>
                        </li>
                        <li class="media">
                          <a href="#" class="pull-left">
                            <img
                              src="https://bootdey.com/img/Content/user_3.jpg"
                              alt=""
                              class="rounded-circle"
                            />
                          </a>
                          <div class="media-body">
                            <span class="text-muted pull-right">
                              <small class="text-muted"
                                >4-20-2020 11:35am</small
                              >
                            </span>
                            <p>
                              Lorem ipsum dolor <a href="#">#sitamet</a> sit
                              amet, consectetur adipiscing elit.
                            </p>
                          </div>
                        </li>
                      </ul>
                      <textarea
                        class="form-control"
                        placeholder="write a comment..."
                        rows="3"
                      ></textarea>
                      <br />
                      <button type="button" class="btn btn-info pull-right">
                        Post
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Grid row -->
        </ng-template>
      </li>

      <!-- Reviews Link and body -->
      <li [ngbNavItem]="3">
        <a ngbNavLink>My Reviews</a>
        <ng-template ngbNavContent>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div
                      class="card-body row justify-content-center align-items-center"
                    >
                      <div class="col-md-5">
                        <h5>Sushi King</h5>
                        <p>
                          420 Sushi Road <br />
                          Denver, CO 80023 <br />
                          (303) 781-2922
                        </p>
                      </div>
                      <div class="col-md-7">
                        <span style="display: inline;"
                          >4-20-2020<br />Rated 4 Stars</span
                        ><br />

                        <span><strong>Sushi was amazeballs!</strong></span>
                        <blockquote
                          class="card-text"
                          style="
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                          "
                        >
                          Prompt & Friendly Service Quick delivery of food
                          (10min or less) Kind, attentive server(s) Fresh, great
                          quality Cleanliness What can I say my palate was quite
                          satisfied and left me only wanting more! I had the
                          low-carb cucumber rainbow roll which was cold, fresh,
                          amazing! No after taste of fish you knew it was FRESH-
                          thank God! Had "the kiss of fire" roll as well- damn
                          son it was hot and oh so good! Also, had hot saki,
                          can't go wrong there. Their service was exceptional.
                          Amy was kind, happy and very attentive. She answered
                          my questions with knowledge & joy. Great experience!!!
                        </blockquote>
                        <a href="">continue reading</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <!-- Favorites Link and Body -->
      <li [ngbNavItem]="4">
        <a ngbNavLink>My Favorites</a>
        <ng-template ngbNavContent>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-5">
                          <h5 class="card-title">Sushi King</h5>
                          <div>
                            <p>
                              420 Sushi Road <br />
                              Denver, CO 80023 <br />
                              (303) 781-2922
                            </p>
                          </div>
                        </div>
                        <div class="col-md-5">
                          <img
                            src="assets/images/bistro.png"
                            class="img-thumbnail"
                            alt=""
                          />
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Open Now</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>Write Article</a>
        <ng-template ngbNavContent class="mx-2">
          <div class="container">
            <form
              name="user-info"
              class="mr-auto"
              #articleForm="ngForm"
              ngNativeValidate
              id="articleForm"
            >
              <div class="form-group">
                <label for="title">Title:</label>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  placeholder="Title"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="imageUrl">Image Url:</label>
                <input
                  type="text"
                  name="imageUrl"
                  class="form-control"
                  placeholder="Image Url"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="content">Article Content:</label>
                <textarea
                  class="form-control"
                  name="content"
                  rows="3"
                  ngModel
                ></textarea>
              </div>

              <a
                href="#"
                class="pull-right btn btn-danger"
                (click)="postBusinessArticle(articleForm)"
                >Submit</a
              >
            </form>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink>Edit Business Profile</a>
        <!-- How do I do a selector for business? -->
        <ng-template ngbNavContent class="mx-2">
          <div class="container" *ngFor="let business of businessListForOwner">
            <form name="business-info" class="mr-auto">
              <div class="form-group">
                <label for="email">Name:</label>
                <input
                  type="name"
                  name="name"
                  class="form-control"
                  placeholder="Name"
                  value="{{ business.name }}"
                  [(ngModel)]="business.name"
                />
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <input
                  type="text"
                  name="description"
                  class="form-control"
                  placeholder="Description"
                  rows="3"
                  value="{{ business.description }}"
                  [(ngModel)]="business.description"
                />
              </div>
              <div class="form-group">
                <label for="phone">Phone:</label>
                <input
                  type="text"
                  name="phone"
                  class="form-control"
                  placeholder="Phone"
                  value="{{ business.phone }}"
                  [(ngModel)]="business.phone"
                />
              </div>
              <div class="form-group">
                <label for="imageUrl">Image Url:</label>
                <input
                  type="text"
                  name="imageUrl"
                  class="form-control"
                  placeholder="Image Url"
                  value="{{ business.imageUrl }}"
                  [(ngModel)]="business.imageUrl"
                />
              </div>
              <a
                (click)="updateBusiness(business)"
                class="pull-right btn btn-danger"
                >Submit</a
              >
            </form>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="7">
        <a ngbNavLink>Edit Address</a>
        <ng-template ngbNavContent class="mx-2">
          <div class="container">
            <form
              name="user-info"
              class="mr-auto"
              *ngFor="let business of businessListForOwner"
            >
              <div class="form-group">
                <h3>{{ business.name }} Address:</h3>
                <label for="street">Street:</label>
                <input
                  type="text"
                  name="street"
                  class="form-control"
                  placeholder="Street Address"
                  value="{{ business.address.street }}"
                  [(ngModel)]="business.address.street"
                />
              </div>
              <div class="form-group">
                <label for="street2">Street 2:</label>
                <input
                  type="text"
                  name="street2"
                  class="form-control"
                  placeholder="Street 2"
                  value="{{ business.address.street2 }}"
                  [(ngModel)]="business.address.street2"
                />
              </div>
              <div class="form-group">
                <label for="city">City:</label>
                <input
                  type="text"
                  name="city"
                  class="form-control"
                  placeholder="Xity"
                  value="{{ business.address.city }}"
                  [(ngModel)]="business.address.city"
                />
              </div>
              <div class="form-group">
                <label for="state">State:</label>
                <input
                  type="text"
                  name="state"
                  class="form-control"
                  placeholder="State"
                  value="{{ business.address.state }}"
                  [(ngModel)]="business.address.state"
                />
              </div>
              <div class="form-group">
                <label for="postalCode">Postal Code:</label>
                <input
                  type="text"
                  name="postalCode"
                  class="form-control"
                  placeholder="Postal Code"
                  value="{{ business.address.postalCode }}"
                  [(ngModel)]="business.address.postalCode"
                />
              </div>
              <div class="form-group">
                <label for="country">Country:</label>
                <input
                  type="text"
                  name="country"
                  class="form-control"
                  placeholder="Country"
                  value="{{ business.address.country }}"
                  [(ngModel)]="business.address.country"
                />
              </div>
              <a
                (click)="updateBusinessAddress(business.address)"
                class="pull-right btn btn-danger"
                >Submit</a
              >
            </form>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <app-right-side-bar></app-right-side-bar>
</div>
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
<!-- /#page-content-wrapper -->
