<div class="d-flex" id="wrapper">
  <app-left-side-bar></app-left-side-bar>
  <div id="page-content-wrapper">
    <div
      class="row justify-content-center align-self-center profile-background mx-1 pt-3"
      style="height: 225px;"
    >
      <div class="row no-gutters">
        <div class="col-md-6" *ngFor="let item of businessListForOwner">
          <img
            src="{{ item.imageUrl }}"
            class="card-img rounded-circle img-thumbnail profile-img"
            style="width: 225px;"
            alt="..."
          />
        </div>
      </div>
    </div>

    <ul ngbNav #nav="ngbNav" class="justify-content-center mt-2">
      <li [ngbNavItem]="1">
        <a ngbNavLink>My Info</a>
        <ng-template ngbNavContent class="mx-2">
          <div
            class="justify-content-center text-center"
            *ngFor="let item of businessListForOwner"
          >
            <div class="alert alert-danger" role="alert" *ngIf="!item.active">
              This business has been deactivated. Please contact an
              administrator for information.
            </div>
            <a
              href="#!"
              class="green-text"
              (click)="showIndividualBusiness(item.id)"
            >
              <h1 class="display-4" style="font-family: Beth Ellen;">
                {{ item.name }}
              </h1>
            </a>
            <p class="lead">
              {{ item.address.street }} <br />
              {{ item.address.city }}
              {{ item.address.state }}
              {{ item.address.postalCode }} <br />
              Phone:<a href="tel:+1{{ item.phone }}"> {{ item.phone }}</a>
            </p>

            <p>
              {{ item.description }}
            </p>
            <p class="font-weight-normal">
              <a><strong>Manager</strong></a
              ><br />

              <a
                href="#!"
                class="green-text"
                routerLink="/user/{{ item.manager.id }}"
                ><h4 class="h4 mb-3">
                  {{ item.manager.firstName }}
                  {{ item.manager.lastName }}
                </h4></a
              >
            </p>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="2">
        <a ngbNavLink (click)="loadUserArticles()">My Articles</a>
        <ng-template ngbNavContent>
          <div *ngFor="let item of articleList">
            <div class="jumbotron-fluid text-center hoverable p-4">
              <div class="row">
                <div class="col-md-4 offset-md-1 mx-3 my-3">
                  <div class="view overlay">
                    <img
                      src="{{ item.imageUrl }}"
                      class="img-fluid"
                      alt="Sample image for first version of blog listing"
                    />
                    <a>
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>
                </div>
                <div class="col-md-7 text-md-left ml-3 mt-3">
                  <h4 class="h4 mb-4">{{ item.title }}</h4>

                  <h5 class="font-weight-normal">
                    by
                    <a href="#/article-detail/{{ item.id }}"
                      ><strong
                        >{{ item.user.firstName }}
                        {{ item.user.lastName }}</strong
                      ></a
                    >{{ item.createAt | date: "MMM d, y h:mm a" }}
                  </h5>

                  <p
                    id="dots"
                    style="
                      display: -webkit-box;
                      -webkit-line-clamp: 3;
                      -webkit-box-orient: vertical;
                      overflow: hidden;
                    "
                  >
                    {{ item.content }}
                  </p>
                  <a
                    href="#/article-detail/{{ item.id }}"
                    class="stretched-link"
                  >
                    continue reading...
                  </a>
                </div>
              </div>

              <div class="row bootstrap snippets">
                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <div class="comment-wrapper">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <a
                          href=""
                          onclick="return false"
                          (click)="showComments(item.id)"
                          id="divBtn{{ item.id }}"
                        >
                          Show Comment
                        </a>
                      </div>
                      <div
                        class="panel-body"
                        id="commentDiv{{ item.id }}"
                        style="display: none;"
                      >
                        <hr />
                        <ul class="media-list">
                          <li
                            class="media"
                            *ngFor="let comment of item.articleComments"
                          >
                            <div class="row">
                              <a
                                href="#"
                                class="pull-left"
                                routerLink="/user/{{ comment.user.id }}"
                              >
                                <img
                                  src="{{ comment.user.userImageUrl }}"
                                  alt=""
                                  class="rounded-circle img-thumbnail"
                                />
                                {{ comment.user.firstName }}
                              </a>
                            </div>
                            <div class="media-body my-auto">
                              <span class="text-muted pull-right">
                                <small class="text-muted">{{
                                  comment.createDate | date: "MMM d, y h:mm a"
                                }}</small>
                              </span>
                              <p>
                                {{ comment.content }}
                              </p>
                            </div>
                          </li>
                        </ul>

                        <form
                          name="article-comment"
                          class="mr-auto"
                          #articleCommentForm="ngForm"
                          ngNativeValidate
                          id="articleCommentForm"
                        >
                          <input
                            type="hidden"
                            name="articleId"
                            value="{{ item.id }}"
                            ngModel
                          />
                          <div class="form-group">
                            <textarea
                              name="content"
                              class="form-control"
                              placeholder="write a comment..."
                              rows="3"
                              ngModel
                            ></textarea>
                          </div>
                          <button
                            class="pull-right btn btn-danger"
                            (click)="
                              postArticleComment(articleCommentForm, item.id)
                            "
                            type="reset"
                          >
                            Submit
                          </button>
                        </form>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="3">
        <a ngbNavLink>My Reviews</a>
        <ng-template ngbNavContent>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="row row-cols-1 row-cols-md-3">
                <div class="col mb-4">
                  <div class="card h-100">
                    <div
                      class="card-body row justify-content-center align-items-center"
                    >
                      <div class="col-md-5">
                        <h5>Sushi King</h5>
                        <p>
                          420 Sushi Road <br />
                          Denver, CO 80023 <br />
                          (303) 781-2922
                        </p>
                      </div>
                      <div class="col-md-7">
                        <span style="display: inline;"
                          >4-20-2020<br />Rated 4 Stars</span
                        ><br />

                        <span><strong>Sushi was amazeballs!</strong></span>
                        <blockquote
                          class="card-text"
                          style="
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                          "
                        >
                          Prompt & Friendly Service Quick delivery of food
                          (10min or less) Kind, attentive server(s) Fresh, great
                          quality Cleanliness What can I say my palate was quite
                          satisfied and left me only wanting more! I had the
                          low-carb cucumber rainbow roll which was cold, fresh,
                          amazing! No after taste of fish you knew it was FRESH-
                          thank God! Had "the kiss of fire" roll as well- damn
                          son it was hot and oh so good! Also, had hot saki,
                          can't go wrong there. Their service was exceptional.
                          Amy was kind, happy and very attentive. She answered
                          my questions with knowledge & joy. Great experience!!!
                        </blockquote>
                        <a href="">continue reading</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Write Article</a>
        <ng-template ngbNavContent class="mx-2">
          <div class="container">
            <form
              name="user-info"
              class="mr-auto"
              #articleForm="ngForm"
              ngNativeValidate
              id="articleForm"
            >
              <div class="form-group">
                <label for="title">Title:</label>
                <input
                  type="text"
                  name="title"
                  class="form-control"
                  placeholder="Title"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="imageUrl">Image Url:</label>
                <input
                  type="text"
                  name="imageUrl"
                  class="form-control"
                  placeholder="Image Url"
                  ngModel
                />
              </div>
              <div class="form-group">
                <label for="content">Article Content:</label>
                <textarea
                  class="form-control"
                  name="content"
                  rows="3"
                  ngModel
                ></textarea>
              </div>

              <a
                class="pull-right btn btn-danger"
                (click)="postBusinessArticle(articleForm)"
                >Submit</a
              >
            </form>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink>Edit Business Profile</a>
        <ng-template ngbNavContent class="mx-2">
          <div class="container" *ngFor="let business of businessListForOwner">
            <br />
            <hr />

            <form name="business-info" class="mr-auto">
              <div class="form-group">
                <label for="email">Name:</label>
                <input
                  type="name"
                  name="name"
                  class="form-control"
                  placeholder="Name"
                  value="{{ business.name }}"
                  [(ngModel)]="business.name"
                />
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <input
                  type="text"
                  name="description"
                  class="form-control"
                  placeholder="Description"
                  rows="3"
                  value="{{ business.description }}"
                  [(ngModel)]="business.description"
                />
              </div>
              <div class="form-group">
                <label for="phone">Phone:</label>
                <input
                  type="text"
                  name="phone"
                  class="form-control"
                  placeholder="Phone"
                  value="{{ business.phone }}"
                  [(ngModel)]="business.phone"
                />
              </div>
              <div class="form-group">
                <label for="imageUrl">Image Url:</label>
                <input
                  type="text"
                  name="imageUrl"
                  class="form-control"
                  placeholder="Image Url"
                  value="{{ business.imageUrl }}"
                  [(ngModel)]="business.imageUrl"
                />
              </div>
              <a
                (click)="updateBusiness(business)"
                class="pull-right btn btn-danger"
                >Submit</a
              >
              <br />
            </form>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink>Edit Address</a>
        <ng-template ngbNavContent class="mx-2">
          <div class="container">
            <form
              name="user-info"
              class="mr-auto"
              *ngFor="let business of businessListForOwner"
            >
              <div class="form-group">
                <h3>{{ business.name }} Address:</h3>
                <label for="street">Street:</label>
                <input
                  type="text"
                  name="street"
                  class="form-control"
                  placeholder="Street Address"
                  value="{{ business.address.street }}"
                  [(ngModel)]="business.address.street"
                />
              </div>
              <div class="form-group">
                <label for="street2">Street 2:</label>
                <input
                  type="text"
                  name="street2"
                  class="form-control"
                  placeholder="Street 2"
                  value="{{ business.address.street2 }}"
                  [(ngModel)]="business.address.street2"
                />
              </div>
              <div class="form-group">
                <label for="city">City:</label>
                <input
                  type="text"
                  name="city"
                  class="form-control"
                  placeholder="Xity"
                  value="{{ business.address.city }}"
                  [(ngModel)]="business.address.city"
                />
              </div>
              <div class="form-group">
                <label for="state">State:</label>
                <input
                  type="text"
                  name="state"
                  class="form-control"
                  placeholder="State"
                  value="{{ business.address.state }}"
                  [(ngModel)]="business.address.state"
                />
              </div>
              <div class="form-group">
                <label for="postalCode">Postal Code:</label>
                <input
                  type="text"
                  name="postalCode"
                  class="form-control"
                  placeholder="Postal Code"
                  value="{{ business.address.postalCode }}"
                  [(ngModel)]="business.address.postalCode"
                />
              </div>
              <div class="form-group">
                <label for="country">Country:</label>
                <input
                  type="text"
                  name="country"
                  class="form-control"
                  placeholder="Country"
                  value="{{ business.address.country }}"
                  [(ngModel)]="business.address.country"
                />
              </div>
              <a
                (click)="updateBusinessAddress(business.address)"
                class="pull-right btn btn-danger"
                style="display: block;"
                >Submit</a
              >
            </form>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <app-right-side-bar></app-right-side-bar>
</div>
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
