<div class="d-flex" id="wrapper">
  <app-left-side-bar></app-left-side-bar>
  <div id="page-content-wrapper">
    <div class="jumbotron jumbotron-fluid">
      <h1 class="display-4 text-md-center">Search Results</h1>
      <h2 class="display-4 text-md-center">{{ keyword }}</h2>
    </div>
    <!-- News jumbotron -->
    <div
      class="jumbotron text-center hoverable p-4"
      *ngFor="let result of searchResults"
    >
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-1 my-1">
          <!-- Featured image -->
          <div class="view overlay">
            <img
              src={{result.business.imageUrl}}
              class="img-fluid"
              alt="Sample image for first version of blog listing"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 text-md-center my-auto">
          <!-- Excerpt -->
          <!-- <a href="business/{{ result.business.id }}" class="green-text">
            <h6 class="h6 pb-1">
              <i class="fas fa-desktop pr-1"></i> View Info
            </h6>
          </a> -->

          <a  href="#!" class="green-text" (click)="showIndividualBusiness(result.business.id)"><h4 class="h4 mb-3" >{{ result.business.name }}</h4></a>
          <p>
            {{ result.street }}<br />
            {{ result.city }}, {{ result.state }} {{ result.postalCode }} <br />
            {{ result.business.phone }}
          </p>
          <p class="font-weight-normal">
            <a><strong>Manager</strong></a
            ><br />
            <a
            href="#!"
            class="green-text"
            routerLink="/user/{{result.business.manager.id}}"
            ><h4 class="h4 mb-3">{{ result.business.manager.firstName }}  {{result.business.manager.lastName}}</h4></a
          >
          </p>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 text-md-center my-auto">
          <p>Description <br /></p>
          <p></p>

          <p class="font-weight-normal">
            {{ result.business.description }}
          </p>
        </div>
      </div>
      <!-- Grid row -->
    </div>
    <!-- News jumbotron -->
    <!-- News jumbotron -->
  </div>
  <app-right-side-bar></app-right-side-bar>
</div>
<!-- <script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script> -->
<!-- /#page-content-wrapper -->
