<div class="d-flex" id="wrapper">
  <app-left-side-bar></app-left-side-bar>
  <div id="page-content-wrapper" *ngIf="!selected">
    <!-- News jumbotron -->
    <div *ngFor="let item of businessList">
      <div class="jumbotron text-center hoverable p-4">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-4 offset-md-1 mx-1 my-1">
            <!-- Featured image -->
            <div class="view overlay">
              <img
                src={{item.imageUrl}}
                class="img-fluid"
                alt="Sample image for first version of blog listing"
              />
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 text-md-center my-auto">
            <!-- Excerpt -->
            <a href="#!" class="green-text">
              <h6 class="h6 pb-1">
                <i class="fas fa-desktop pr-1"></i>
                {{item.webUrl}}
              </h6>
            </a>

            <h4 class="h4 mb-3">{{ item.name }}</h4>
            <p>
                <br />
              Parker, CO 80134 <br />
              {{item.phone}}
            </p>
            <p class="font-weight-normal">
              <a><strong>Manager</strong></a
              ><br />
              {{ item.manager }}
            </p>
          </div>
          <!-- Grid column -->
           <div class="col-md-3 text-md-center my-auto">
          <p>
            History <br />
            Established in 2014.
            {{item.descripiton}}
          </p>
          <p></p>

          <p class="font-weight-normal">
            {{ item.descripiton }}
          </p>
          </div>
        </div>
        <!-- Grid row -->
      </div>
    </div>
    <!-- News jumbotron -->
    <!-- News jumbotron -->

  </div>
  <app-right-side-bar></app-right-side-bar>
</div>
<!-- <script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script> -->
<!-- /#page-content-wrapper -->
