<div class="d-flex" id="wrapper">
  <app-left-side-bar></app-left-side-bar>
  <div id="page-content-wrapper">
    <!-- News jumbotron -->
    <div class="jumbotron text-center hoverable p-4">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 offset-md-1 mx-1 my-1">
          <!-- Featured image -->
          <div class="view overlay">
            <img
              src={{individualBusiness.imageUrl}}
              class="img-fluid"
              alt="Sample image for first version of blog listing"
            />
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <!-- Grid column -->
        <!-- Grid column -->
        <div class="col-md-4 text-md-center my-auto">
          <!-- Excerpt -->
          <a href="#!" class="green-text"> </a>
          <h4 class="h4 mb-3">{{individualBusiness.name}}</h4>
          <p>
             {{individualBusiness.address.street}} <br />
            {{individualBusiness.address.city}} {{individualBusiness.address.state}}  {{individualBusiness.address.postalCode}} <br />
            Phone : {{individualBusiness.phone}}
          </p>
          <p class="font-weight-normal">
            <a><strong>Manager</strong></a
            ><br />
            {{individualBusiness.manager.firstName}}  {{individualBusiness.manager.lastName}}

          </p>
        </div>
        <div class="col-md-3 text-md-center my-auto">
          <!-- <p>
            History <br />
            Established in 2014.
          </p> -->
          <p></p>
          <p class="font-weight-normal">
            <a  target ="_blank" href="{{individualBusiness.webUrl }}" class="green-text" >{{ individualBusiness.webUrl }}</a>
            <p>
           {{individualBusiness.description}}


          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Navigation Links and body -->
    <ul ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
      <!-- Articles Link and body -->
      <li [ngbNavItem]="1">
        <a ngbNavLink>My Articles</a>
        <ng-template ngbNavContent>
          <div class="jumbotron-fluid text-center hoverable p-4">
            <!-- Grid row -->
            <div class="row">
              <!-- Grid column -->
              <div class="col-md-4 offset-md-1 mx-3 my-3">
                <!-- Featured image -->
                <div class="view overlay">
                  <img
                    src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg"
                    class="img-fluid"
                    alt="Sample image for first version of blog listing"
                  />
                  <a>
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>
              </div>
              <!-- Grid column -->
              <!-- Grid column -->
              <div class="col-md-7 text-md-left ml-3 mt-3">
                <!-- Excerpt -->
                <a href="#!" class="green-text">
                  <h6 class="h6 pb-1">
                    <i class="fas fa-desktop pr-1"></i> Articles
                  </h6>
                </a>
                <h4 class="h4 mb-4">TITLE</h4>
                <h5 class="font-weight-normal">
                  by <a><strong>Chrissy Rowland</strong></a
                  >, 19/08/2016
                </h5>
                <p
                  id="dots"
                  style="
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  "
                >
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Phasellus imperdiet, nulla et dictum interdum, nisi lorem
                  <!-- egestas vitae scel<span id="dots">...</span
                  ><span id="more" -->
                  erisque enim ligula venenatis dolor. Maecenas nisl est,
                  ultrices nec congue eget, auctor vitae massa. Fusce luctus
                  vestibulum augue ut aliquet. Nunc sagittis dictum nisi, sed
                  ullamcorper ipsum dignissim ac. In at libero sed nunc
                  venenatis imperdiet sed ornare turpis. Donec vitae dui eget
                  tellus gravida venenatis. Integer fringilla congue eros non
                  fermentum. Sed dapibus pulvinar nibh tempor porta. ultrices
                  nec congue eget, auctor vitae massa. Fusce luctus vestibulum
                  augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper
                  ipsum dignissim ac. In at libero sed nunc venenatis imperdiet
                  sed ornare turpis. Donec vitae dui eget tellus gravida
                  venenatis. Integer fringilla congue eros non fermentum. Sed
                  dapibus pulvinar nibh tempor porta. ultrices nec congue eget,
                  auctor vitae massa. Fusce luctus vestibulum augue ut aliquet.
                  Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac.
                  In at libero sed nunc venenatis imperdiet sed ornare turpis.
                  Donec vitae dui eget tellus gravida venenatis. Integer
                  fringilla congue eros non fermentum. Sed dapibus pulvinar nibh
                  tempor porta.
                </p>
                <button (click)="myFunction()" id="myBtn">Read more</button>
              </div>
              <!-- Grid column -->
            </div>
            <div class="row bootstrap snippets">
              <div class="col-md-12 col-md-offset-2 col-sm-12">
                <div class="comment-wrapper">
                  <div class="panel panel-info">
                    <div class="panel-heading">
                      <button (click)="showComments()" id="divBtn">
                        Show Comment
                      </button>
                    </div>
                    <div
                      class="panel-body"
                      id="commentDiv"
                      style="display: none;"
                    >
                      <div class="clearfix"></div>
                      <hr />
                      <ul class="media-list">
                        <li class="media">
                          <a href="#" class="pull-left">
                            <img
                              src="https://bootdey.com/img/Content/user_1.jpg"
                              alt=""
                              class="rounded-circle"
                            />
                          </a>
                          <div class="media-body">
                            <span class="text-muted pull-right">
                              <small class="text-muted"
                                >4-20-2020 11:15am</small
                              >
                            </span>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. Lorem ipsum dolor sit amet,
                              <a href="#">#consecteturadipiscing </a>.
                            </p>
                          </div>
                        </li>
                        <li class="media">
                          <a href="#" class="pull-left">
                            <img
                              src="assets/images/chrissy.jpg"
                              alt=""
                              class="rounded-circle"
                            />
                          </a>
                          <div class="media-body">
                            <span class="text-muted pull-right">
                              <small class="text-muted"
                                >4-20-2020 11:30am</small
                              >
                            </span>
                            <p>
                              Lorem ipsum dolor sit amet, consectetur adipiscing
                              elit. Lorem ipsum dolor
                              <a href="#">#ipsumdolor </a>adipiscing elit.
                            </p>
                          </div>
                        </li>
                        <li class="media">
                          <a href="#" class="pull-left">
                            <img
                              src="https://bootdey.com/img/Content/user_3.jpg"
                              alt=""
                              class="rounded-circle"
                            />
                          </a>
                          <div class="media-body">
                            <span class="text-muted pull-right">
                              <small class="text-muted"
                                >4-20-2020 11:35am</small
                              >
                            </span>
                            <p>
                              Lorem ipsum dolor <a href="#">#sitamet</a> sit
                              amet, consectetur adipiscing elit.
                            </p>
                          </div>
                        </li>
                      </ul>
                      <textarea
                        class="form-control"
                        placeholder="write a comment..."
                        rows="3"
                      ></textarea>
                      <br />
                      <button type="button" class="btn btn-info pull-right">
                        Post
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Grid row -->
        </ng-template>
      </li>
      <!-- Reviews Link and body -->
      <li [ngbNavItem]="2">
        <a ngbNavLink (click)="displayYelpReviews()">Yelp Reviews</a>

        <ng-template ngbNavContent>
          <div class="jumbotron jumbotron-fluid">
            <div class="container">


              <p> <strong>Overall rating : {{rating}} </strong> </p>
              <table class="table table-hover">
                <thead>
                  <tr >
                    <th scope="col">UserName</th>
                    <th scope="col">Review</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor ="let item of yelpReviews[0]">


                    <td>{{item.user}}</td>
                    <td>{{item.text}}</td>
                  </tr>

                </tbody>
              </table>


            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <app-right-side-bar></app-right-side-bar>
</div>
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

