<div class="d-flex" id="wrapper">
  <app-left-side-bar></app-left-side-bar>
  <div id="page-content-wrapper">
    <div
      class="row justify-content-center align-self-center profile-background mx-1 pt-3"
      style="height: 225px;"
    >
      <div class="row no-gutters">
        <div class="col-md-12">
          <img
            src="{{ article.imageUrl }}"
            class="card-img rounded-circle img-thumbnail profile-img"
            alt="..."
          />
        </div>
      </div>
    </div>
    <!-- Navigation Links and body -->
    <ul ngbNav #nav="ngbNav" class="justify-content-center mt-2">
      <!-- Reviews Link and body -->

      <!-- Articles Link and body -->
      <li [ngbNavItem]="1">
        <a ngbNavLink></a>
        <ng-template ngbNavContent>
          <div>
            <div class="jumbotron-fluid text-center hoverable p-4">
              <!-- Grid row -->
              <div class="row">
                <!-- Grid column -->
                <div class="col-md-12 text-md-center ml-3 mt-3">
                  <h4
                    class="display-2 mb-4"
                    style="font-family: Special Elite;"
                  >
                    {{ article.title }}
                  </h4>
                  <h5 class="font-weight-normal">
                    by
                    <strong
                      >{{ article.user.firstName }}
                      {{ article.user.lastName }}</strong
                    >
                    <br />
                    {{ article.createAt | date: "MMM d, y h:mm a" }}
                  </h5>
                  <p>
                    {{ article.content }}
                  </p>
                  <!-- <a
                    href="#/article-detail/{{ article.id }}"
                    class="stretched-link"
                  >
                    continue reading...
                  </a> -->
                  <!-- <button (click)="myFunction()" id="myBtn">Read more</button> -->
                </div>
                <!-- Grid column -->
              </div>
              <div class="row bootstrap snippets">
                <div class="col-md-12 col-md-offset-2 col-sm-12">
                  <div class="comment-wrapper">
                    <div class="panel panel-info">
                      <!-- <div class="panel-heading">
                        <a href="" onclick="return false">
                          Show Comment
                        </a>
                      </div> -->
                      <div class="panel-body">
                        <hr />
                        <ul class="media-list">
                          <li
                            class="media"
                            *ngFor="let comment of article.articleComments"
                          >
                            <div class="row">
                              <a
                                href="#"
                                class="pull-left"
                                routerLink="/user/{{ comment.user.id }}"
                              >
                                <img
                                  src="{{ comment.user.userImageUrl }}"
                                  alt=""
                                  class="rounded-circle img-thumbnail"
                                />
                                {{ comment.user.firstName }}
                              </a>
                            </div>
                            <div class="media-body my-auto">
                              <span class="text-muted pull-right">
                                <small class="text-muted">{{
                                  comment.createDate | date: "MMM d, y h:mm a"
                                }}</small>
                              </span>
                              <p>
                                {{ comment.content }}
                              </p>
                            </div>
                          </li>
                        </ul>
                        <form
                          name="article-comment"
                          class="mr-auto"
                          #articleCommentForm="ngForm"
                          ngNativeValidate
                          id="articleCommentForm"
                        >
                          <input
                            type="hidden"
                            name="articleId"
                            value="{{ article.id }}"
                            ngModel
                          />
                          <div class="form-group">
                            <textarea
                              name="content"
                              class="form-control"
                              placeholder="write a comment..."
                              rows="3"
                              ngModel
                            ></textarea>
                          </div>
                          <button
                            class="pull-right btn btn-danger"
                            (click)="postArticleComment(articleCommentForm)"
                            type="reset"
                          >
                            Submit
                          </button>
                        </form>
                        <br />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </div>
  <app-right-side-bar></app-right-side-bar>
</div>
<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>
