

.red-text {
  color: rgb(255, 0, 0);
}

.ard-body {
  font-family: Arial, Helvetica, sans-serif;
}
.btn {
  font-family: Arial, Helvetica, sans-serif;
}

.etc-login-form {
  font-family: Arial, Helvetica, sans-serif;
}
