
/* The sidebar menu */
.sidenavleft {
  /* height: -50%; Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: #111; Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
}
.sidenavleft strong{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #002868;
  display: block;
}

/* The navigation menu links */
.sidenavleft a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenavleft a:hover {
  color: #FFD700;

}
